* {
    margin: 0 auto;
    padding: 0;
}
@font-face {
    font-family: Roboto;
    src: url(../../assets/fonts/Roboto-Regular.ttf);
}
#main_page {
    width: 1600px;
    font-family: 'Roboto';
}
.container {
    width: 1160px;
}
#header {
    background: #000000;
    padding: 14px 0;
}
#header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    position: relative;
    margin: 0;
    width: 82px;
    height: 52px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
}
h1 {
    position: absolute;
    width: 72.49px;
    height: 44.91px;
    left: 4.75px;
    top: 3.55px;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}
.logo img {
    position: absolute;
    left: 9.5px;
    top: 24.44px;
}
#text_of_header {
    width: 472px;
    margin-left: 63px;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 16px; 
}
#text_of_header p {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#header a {
    color: #FFFFFF;
    text-decoration: none;
}
#header a:hover {
    text-decoration: underline;
}
#design_by {
    width: 105px;
    margin-left: 438px;
}
#second_block {
    display: flex;
    background-image: url(../../assets/images/GiantPanda.svg);
    background-repeat: no-repeat;
    background-position-y: -80px;
}
#second_block .container {
    display: flex;
    flex-direction: column;
    width: 1160px;
    padding-bottom: 100px;
}
#circle {
    position: absolute;
    top: 92px;
    margin: 0;
    width: 465px;
    height: 465px;
    border-radius: 50%;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}
#text_in_the_circle {
    z-index: 1;
    width: 500.31px;
    height: 400px;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 83px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 74px 0 0 73px;
}
#second_block .content a {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 298px;
    height: 54px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 176px;
}
#second_block .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-end;
    height: 588px;
    width: 573px;
    margin: 0;
}
#backstage {
    background-image: url(../../assets/images/flower_foto1.png);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 12px;
}
#backstage .content {
    display: flex;
    flex-direction: row;
    height: 403px;
    padding: 140px 0;
}
#text_of_the_backstage {
    margin-left: 87px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #333B41;
}
.subtitle {
    font-size: 24px;
    line-height: 29px;
    margin: 54px 0 34px 0;
}
.caption {
    font-size: 48px;
    line-height: 58px;
    margin: 0 0 20px 0;
}
